<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas do Renan</title>
</head>
<body>
    <h1>Receitas do Renan</h1>
    <a href="/add">Adicionar receita</a>
    <ul id="recipe-list">
        <% recipes.forEach(function(recipe) { %>
        <li>
            <h2><%= recipe.title %></h2>
            <p><%- recipe.description.split('\n').join('<br>') %></p>
            <a href="/edit/<%= recipe.id %>">Editar</a>
            <a href="/delete/<%= recipe.id %>" class="delete-link">Deletar</a>
        </li>
        <% }); %>
    </ul>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
        body {
            background-color: #232D3F;
            font-weight: 550;
            font-family: 'Work Sans', sans-serif;
            padding: 20px;
        }

        h1 {
            color: whitesmoke;
            margin-bottom: 15px;
            margin-top: 15px;
        }

        h2 {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        ul {
            list-style: none;
            padding: 0;
            width: 25%;
        }

        li {
            border: 1px solid whitesmoke;
            margin-bottom: 10px;
            padding: 15px;
            color: white;
            border-radius: 5px;
        }

        a {
            margin-right: 15px;
            color: #4CAF50;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .delete-link {
            color: #FF6347;
        }

        @media (max-width: 600px) {
            .titulo, .descricao {
                width: 100%;
            }

            ul, li {
                width: 90%;
            }
        }
    </style>
    <script>
        document.querySelectorAll('.delete-link').forEach(link => {
            link.addEventListener('click', function (event) {
                if (!confirm('Tem certeza que deseja excluir esta receita?')) {
                    event.preventDefault();
                }
            });
        });
    </script>
</body>
</html>
